[submodule "zeit-optipng-with-now"]
	path = assets/img
	url = https://github.com/CliffCrerar/cdn-png-repo.git

[submodule "now-cdn"]
	path = assets/files
	url = https://github.com/CliffCrerar/now-cdn.git
